:root {
  --titleColor: #222d3d;
  --segmentBackground: #f5f5f5;
  --primaryRed: #e23c3c;
  --primaryYellow: #ffe400;
  --borderColor: #f0f0f0;
  --inputBorder: #e0e0e0;
  --headerBackground: #404257;
  --uniqueBlue: rgb(51, 151, 209);
  --greyTtext: #b5b5b5;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Oxygen', sans-serif;
}

*{
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push { 
    height: 50px;
  }

  .container {
      max-width: 1500px;
      margin: auto;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 3%;
      padding-bottom: 3%;
  }
  
  .topleadheader{
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    padding: 5px;
    padding-left: 15px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    color: var(--titleColor);
  }

  .productheader{
    display: flex;
    font-family: 'Rubik', sans-serif;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    font-weight: 600;
    align-items: center;
  }

  .productFindheader a {
    text-decoration: none;
    color:#fff;
  }

  .productFindheader{
    flex: 1;
    text-align: right;
    background-color: var(--primaryRed);
    color: #fff;
    width: 150px;
    font-size: 14px;
    padding: 5px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
  }


  .productheadertitle{
    flex: 4;
    font-size: 17px;
    padding: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--titleColor);
  }


  .storeformrow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
  }

  .storeformcolumn > * {
    flex: 1 1 100px;
    padding: 10px;
    width: 311px;
  }

  .col-lead{
    flex-basis: 31%;
    min-width: 400px;
    margin-bottom: 20px;
    background-color: var(--segmentBackground);
    border-radius: 7px;
    height: 155px;
    transition:all .5s;
    position: relative;
    border-color: #ebebeb;
    border-style: solid;
    border-width: 1px;
  }

  .col-lead img {
    position: absolute;
    left: 0;
    width: 200px;
  }

  .serviceImg1 {
    position: absolute;
    right: 0;
    margin-right: 60px;
    margin-top: 45px;
    font-weight: 600;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    color: var(--primaryRed);
    width: 100px;

  }

  .serviceImg2 {
    position: absolute;
    right: 0;
    margin-right: -20px;
    margin-top: 45px;
    font-weight: 600;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    color: var(--primaryRed);
    width: 180px;
  }

  .innerheader{
    background-color: var(--segmentBackground);
    padding-top: 3%;
    padding-bottom: 3%;
  }


  .logintitleheader {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: var(--primaryRed);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--segmentBackground);
    padding: 20px;
    border-radius: 5px;
  }

 

  *:focus {
    outline: none;
}


  .loginform {
    border-color: var(--inputBorder);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    position: relative;
    display: flex;
    border-radius: 5px;
    margin-bottom: 15px;
  }

   .formcolumn{
    flex-basis: 31%;
    flex: 1;
   }

  .loginform label {
    padding-left: 10px;
    margin-top: 8px;
    width: 180px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: var(--titleColor);
    text-align: left;
    font-size: 13px;
  }

  .loginform input {
    border: none;
    width: 100%;
    padding: 9px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--titleColor);
  }

  .loginform select {
    border: none;
    width: 100%;
    padding: 9px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--titleColor);
  }

  .loginicon {
      color: var(--inputBorder);
      font-size: 20px;
      margin-left: 10px;
      margin-top: 5px;
      margin-right: 10px;
  }

  .remboxme{
    position: absolute;
    left: 0;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    color: var(--titleColor);
    font-weight: 500;
    margin-top: 30px;
  }

  .loginBtn{
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    align-items: center;
    margin-top: 30px;
  }

  .loginbutton{
    background-color: var(--primaryRed);
    border-radius: 5px;
    padding: 15px 50px;
    color: #fff;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    transition:all .5s;    
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}


.regbutton{
  background-color: var(--titleColor);
  border-radius: 5px;
  padding: 15px 50px;
  color: #fff;
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  transition:all .5s;    
  font-weight: 500;
  border: none;
  cursor: pointer;
}



  .forgotpwd{
    margin-top: 70px;
  }

  .forgotpwd a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: var(--titleColor);
    font-weight: 500;
  }

  .loginbox{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 30px;
    text-align: center;
  }

  .innerBodyContainer{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding: 30px;
    text-align: center;
  }

  .formrow{
      display: flex;
      flex-wrap: wrap;    
  }

  .formrow > div {
    flex: 50%; 
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .innerHeaderTitle{
    text-align: center;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: var(--titleColor);
  }

  .innerHeaderTitle:after { 
    content:"";
    display:block;
    width: 4em;
    max-width:70%;
    border-bottom: 7px solid var(--primaryRed);
    margin: 18px auto 0;
  }

  .serviceImg3 {
    position: absolute;
    right: 0;
    margin-right: -30px;
    margin-top: 45px;
    font-weight: 600;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    color: var(--primaryRed);
    width: 200px;
  }

  .col-lead:hover {
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
  }
  
  .topleaderbody{
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
  }

  .logoarea{
      background-color: #404257;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 20px 10%;
      color: #fff;
      cursor: pointer;
  }

  .storeowner{
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    color: var(--uniqueBlue);
    font-weight: 500;
  }

  .logoareatop{
    background-color: #404257;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10%;
    color: #fff;
    cursor: pointer;
    justify-content:  space-between;
    align-items:center;
}

  nav {
      flex: 1;
      text-align: right;
      font-weight: 500;
      font-size: 13px;
      font-family: 'Rubik', sans-serif;
      margin-right: 20px;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }

  .signin{
      background-color: #e23c3c;
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
      font-size: 13px;
      font-family: 'Rubik', sans-serif;
      transition:all .5s;
      text-decoration: none;
      font-weight: 500;
  }

  .display{
      background-image: url('../images/display4.jpg');
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 10%;
  }

  .productWindow{
    background-color: var(--segmentBackground);
    padding: 3.5% 0px;
  }

  .productrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 40px;
    column-gap: 20px;
  }

  .productcolumn:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.13);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.13);
transform:translate(0px,-4px);
  }

  .productcolumn {
    flex-basis: 23%;
    min-width: 180px;
    background-color: #fff;
    border-radius: 10px;
    transition:all .5s
  }

  .productcolumn img {
    width: 95%;
    margin: 5px;
  }

  .productDetails {
    margin-top: 10px;
    border-top-color: var(--segmentBackground);
    border-top-width: 2px;
    border-top-style: solid;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .prodprice{
    flex: 2;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: var(--primaryRed);
    font-size: 16px;
    text-align: left;
  }

  .prodCount {
    flex: 1;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--greyTtext);
    font-size: 13px;
    text-align: right;
  }

  .productname {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: var(--titleColor);
    font-size: 17px;
    text-align: center;
  }

  .productcontainer {
    display: flex;
    margin: 0px auto;
    width: 80%;
  }

  .productrightbox{
    margin-top: 10px;
    flex-basis: 79%;
    margin-left: 45px;
  } 

  .leftsiderhdr{
    padding: 15px;
    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: var(--primaryRed);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-left: 15px;
  }

  .categoryList ul {
    margin-left: -20px;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    font-family: 'Rubik', sans-serif;
  }

  .categoryList a{
    text-decoration: none;
    color: var(--headerBackground);
  }

  .categoryList .fas {
    color: #e23c3c;
  }

  .middlesiderhdr{
    margin-top: 50px;
    padding: 15px;
    border-top-color: var(--borderColor);
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: var(--titleColor);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-left: 15px;
  }

  .reqcontent{
    display: flex;
  }

  .reqTime {
    margin-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: right;
    color: var(--greyTtext);
    font-size: 12px;
    background-color: var(--borderColor);
    padding: 5px;
  }

  .requestTab{
    
    margin: 10px;
    border-radius: 5px;
    background-color: var(--segmentBackground);
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    font-weight: 500;
    font-weight: 14px;
    margin-bottom: 5px;
  }

  .allRequest{
    text-decoration: none;
    color: #e23c3c;
    padding: 15px;
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 13px;
  }

  .reqtabmsg {
    flex: 8;
    font-size: 14px;
    font-weight: 400;
    color: var(--headerBackground);
  }

  .reqtabtime {
    flex: 1;
    color: #404257;
  }

  .productleftbox{
    padding: 5px 0px 20px;
    margin-top: 10px;
    flex-basis: 23%;
    background-color: #fff;
    border-radius: 5px;
    min-height: 500px;
  }

  .registervendor{
    background-color: #f0f0f0;
    height: 150px;
  }

  .menuAreaFixed{
    background-color: var(--headerBackground);
    border-top-color: var(--primaryRed);
    border-top-width: 5px;
    border-top-style: solid;
    position: fixed;
    top: 0;
    z-index: 100;
    display: none;
    width:100%;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .displayContents{
    padding-top: 4%;
      margin: 0px auto;
      width: 40%;
      text-align: center;
      font-weight: 700;
      color: #fff;
      font-size: 30px;
  }

  .signup{
    background-color: #9a9ba1;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    transition:all .5s;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
}

.dashboard{
  background-color: var(--primaryYellow);
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(29, 29, 29);
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  transition:all .5s;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}

  .signin a{
    text-decoration: none;
    color: #fff;
    transition:all .5s;
  }

  .signin a:hover{
    text-decoration: none;
    color: #404257;
  }

  .signin:hover{
    background: #ffe400; 
    color: #404257;
  }

  .mainsearchtop{
    width: 50%;
    position: relative;
    background-color: #fff;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .mainsearchtop button {
    cursor: pointer;
    background-color:#e23c3c;
    border-radius: 7px;
    color: #fff;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 17px;
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
  
  .mainsearchtop input {
    background-color: #fff;
    font-size: 15px;
    color: #303030;
    font-weight: 500;
    padding: 10px;
    width: 450px;
    border:none;
    font-family: 'Rubik', sans-serif;
    margin-left: 45px;
  }

  .mainsearch{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    background-color: #fff;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .createStorebtn{
    position: absolute;
    right:0;
    background-color: #28384f;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    padding: 20px 35px;
    margin-top: 13px;
    margin-right: 5%;
    transition:all .5s
  }

  .createStorebtn:hover{
    background-color:#e23c3c;
  }

  .createStoretxt{
    padding-top: 10px;
    line-height: 33px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 55%;
    color:#222d3d;
  }
  
  

  .topleads{ 
    background-color: #fcfcfc;
  }

  .regcontainer{
    position: relative;
    margin: 0px auto;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .mainsearch input {
    background-color: #fff;
    font-size: 17px;
    color: #303030;
    font-weight: 500;
    padding: 20px;
    width: 600px;
    border:none;
    font-family: 'Rubik', sans-serif;
    margin-left: 60px;
  }

  .errorMsgBox{
      background-color: #f8e7e7;
      border-color: #e23c3c;
      border-width: 1px;
      border-style: solid;
      font-size: 13px;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      color: #e23c3c;
      padding: 15px;
      border-radius:5px;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: left;
      display: none;
      line-height: 23px;
  }

  .infoMsgBox{
    background-color: #dfecf3;
    border-color: #1e93c2;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #2e718b;
    padding: 15px;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    display: none;
    line-height: 23px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.hintBox{
  background-color: #e9f5eb;
  border-color: #b2e0d2;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #1ea361;
  padding: 10px;
  border-radius:5px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  display: none;
  line-height: 23px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;  
}

  .successMsgBox{
    background-color: #0e9647;
    border-color: #0d813a;
    border-width: 1px;
    border-style: solid;
    line-height: 23px;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 10px;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

  .iconsearch{
    font-size: 35px;
    color: #d1d1d1;
    position: absolute;
    margin-top: 7px;
    left: 0;
    padding-left: 20px;
  }

  .iconsearchtop{
    font-size: 20px;
    color: #d1d1d1;
    position: absolute;
    margin-top: 7px;
    left: 0;
    padding-left: 20px;
  }


  .mainsearch select {
      border: none;  
      font-family: 'Rubik', sans-serif;
      font-size: 17px;
    font-weight: 500;
    width: 150px;
    columns: #6b6b6b;
  }

  .mainsearch button {
    cursor: pointer;
    background-color:#e23c3c;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 17px 25px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: 3px;
  }

  nav li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    margin-top: 5px;
    background: #ffe400;
    transition:all .5s
   }
   
   nav li a:hover::after {
    width: 100%;
    color: #fff;
   }

  nav ul a {
      color: #e6e6e6;
      text-decoration: none;
      display: inline-block;
  }

  nav ul li {
      display: inline-block;
      margin-right: 30px;
  }

  .topnav {
      background-color: #e23c3c;
      width: 100%;
      color: #fff;
      display:flex;
      align-items: center;
      padding: 12px 10%;
      font-size: 14px;
  }

  .helpText{
    font-size: 13px;
    font-family: 'Rubik', sans-serif;  
  }

  .vendorLogin a{
      text-decoration: none;
      color: #fff;
  }

  .vendorLogin{
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  .topnavcontainer{
    flex: 1;
    flex-direction: row;
  }

  .topnavright{
      flex: 1;
      text-align: right;
  }